
body {
    padding-bottom: 90px;
   border: 10px solid white !important;
    background-color: #FAFAFA;
    margin-bottom: 20px;
    text-overflow: clip;
    overflow-x: hidden;
    overflow-y: auto;
    
}
nav.navbar.navbar-expand-md {
    background-color: #FFFFFF;
}


  .home-content  h2 {
     font-weight: 300 !important;
}

/**img cards**/
.box {
    position: relative;
    display: inline-block;
}
.box .labels p {
    position: absolute;
    z-index: 999;
    top: 89%;
    color: #fff;
    background-color: aqua;
}
.video-fluid {
    width: 100%;
    height: auto;
}

/*progressbar shit*/
.progressb {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}




.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid green;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #fff;
    font-size: 24px;
    color: #000;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

}
.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}

}

@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}

/**pacman*/
#pacman {
    width: 0px;
    height: 0px;
    border-top: 100px solid red;
    border-bottom: 100px solid red;
    border-right: 100px solid transparent;
    border-left: 100px solid red;
    border-top-left-radius: 10%;
     border-bottom-left-radius: -20%;
    
    
}



/*timeline*/


 
.footer-menu {
    background-color: #fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.footer-menu p {}

.projects .col-xs-12 .center-me {
        text-align: center;
        padding-bottom: 20px;

}

@media(max-width:900px) {
    .who-we-are .container {
        width: 100% !important
    }
    
    .navbar .navbar-brand {
        padding-top: 20px !important;
        align-items: center !important;
    }
    
    .projects h2 {
        font-size: 28px;
    }
    .projects a {
        padding-top: .4rem;
    }
    .projects .card {
        padding-bottom: .4rem;
    }
    
    
    
    
    /*home*/
    
  nav.navbar-brand {
        
        
    }
    .slide-it{
        position: absolute;
        top: 10%;
            left:0px;
    }
    
    .mobo-home {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        position: absolute;
        top: 40%;
    }
    
    .mobo-home h1 {
        font-size: 30px;
        padding-bottom: 5px;
        margin-top: 10px !important;
        margin-bottom: 2px !important;
    }
    .mobo-home h3 {
        padding-top: 5px !important;
        font-size: 20px;
         margin-top: 5px !important;
        margin-bottom: 5px !important;
        
    }
    
    
    .mobo-home a {
        font-size: 20px;
         padding-bottom: 5px !important;
        margin-bottom: 5px !important;
        width: 100% !important;
    }
    
   #themain {
       padding-top: 10px !important;
       margin-top: 20px !important;
        position: absolute;
        top: 95%;
    }
    
    
    .who-we-are h2,.who-we-are p {
        text-align: left !important;
        width: 100% !important;
    } 
    
    
    .who-we-are button {
        text-align:left !important;
        
       
       
    }
    .follow-us {
        padding-top: 1rem !important;
       
    }
    .follow-us p {
        padding-top: 0.5rem !important;
    }
    .follow-us ul {
        margin-top: 0rem !important;
        padding-left: 0.7rem !important;
    } 
    
    
    /*projects*/
    
    #nav2 {
        background: white;
    }
    #nav2 h3 {
        justify-content: center !important;
        text-align: center !important;
    }
    
    
    /*login*/
    
    .mobile .home-content {
       margin-top: 0.2rem !important;
         padding-top:0.2rem !important;
    }
    
    .mobile .home-content img {
       width: 12% !important;
        margin-top: 0.4rem !important;
        padding-top: 0.2rem !important;
        padding-bottom: 0.3rem !important;
    }
    .mobile .home-content h1 {
        font-size: 30px;
        padding-bottom: 0.3rem !important;
    }
    
    .mobile .home-content h2 {
        font-size: 20px;
        font-weight: 300;
        padding-bottom: 0.3rem !important;
    }
    
     .mobile .home-content-mob {
        margin-top: 0.2rem !important;
        padding: 0.3rem !important;
    }
    
     .mobile .home-content-mob h2 {
         font-size: 24px;
        margin-bottom: 0.3rem !important;
        padding: 1rem !important;
    }
    
    
    
    
    /*ctrlhub-projectsample*/
    .projects {
        padding: 0 !important;
    }
    .projects h3 {
        font-size:18px !important;
    }
    .projects h2 {
        font-size: 1.5rem !important;
    }
    
    .summary.col {
        
    }
    .summary h4 {
        font-size:1.0rem !important;
        margin-right:auto !important;
    }
    
    
    
    .summary p {
        font-size:0.8rem !important;
         margin-left:auto !important;
    }
    
    
    
    
    }


